.error-box {
    height: 100%;
    position: fixed;
    background: url(../../assets/img/error-bg.jpg) no-repeat center center #fff !important;
    width: 100%;
}

.error-box a{
    text-decoration: none;

}

.error-body h1 {
    font-size: 180px;
    font-weight: 900;
    line-height: 100px;
}

.error-body h1,
.error-body h3,
.error-body p{
    color: #757575;
}

.error-box .text-uppercase {
    text-transform: uppercase;
}

.error-box .footer {
    bottom: 0;
    color: #58666e;
    left: 0;
    padding: 20px 30px;
    position: absolute;
    right: 0;
    background: #ffffff;
    width: 100%;
}

.error-box .text-center {
    text-align: center;
}

